.coo-elementor-podcast-list-item {
    margin-bottom: 50px;
}

.coo-elementor-podcast-list-title {
    font-size: 25px;
    line-height: 1.2;
}

.coo-elementor-podcast-list-pagi-container a, .coo-elementor-podcast-list-pagi-container .current{
    padding: 6px 12px;
    border-radius: 3px;
    transition: all 0.4s;
}
.coo-elementor-podcast-search {
    margin-top: 15px;
    margin-bottom: 15px;
}
.coo-elementor-podcast-search form {
    display: flex;
    gap: 10px;
}
.coo-elementor-podcast-search form .coo-elementor-podcast-search-submit {
    flex-basis: 20%;
    background-color: #001489;
    color: #fff;
    border: 0;
    padding: 15px;
}
.coo-elementor-podcast-search form .coo-elementor-podcast-search-submit:hover {
    background-color: #1f9bba;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #001489;
    border-color: #001489 transparent #001489 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  